@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap");
@font-face {
  font-family: TTHoves;
  font-display: swap;
  src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333333;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  position: relative;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 138%;
  text-transform: uppercase;
}
.title_big {
  font-size: 2.875rem;
  line-height: 136.95%; /* 63/46 */
}
@media (min-width: 73.125em) {
  .title_big {
    font-size: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem )) {
    .title_big {
      font-size: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem )) {
    .title_big {
      font-size: calc(1.875rem + 1 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .title_big {
    font-size: 1.875rem;
  }
}
.title span {
  color: #3ddabe;
}
.title::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  background-color: #3ddabe;
  border-radius: 0.625rem;
  bottom: -10px;
  left: 0%;
  width: 4.375rem;
}

.text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 151.5%;
}

.btn {
  display: inline-block;
  font-weight: 900;
  font-size: 1rem;
  line-height: 151.5%; /* 24/16 */
  text-transform: uppercase;
  padding: 1.125rem 2.8125rem;
  border-radius: 5.75rem;
  background-color: #3ddabe;
  box-shadow: 0 1.25rem 1.25rem -0.75rem rgba(61, 218, 190, 0.4);
  color: #fff;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #36b9a1;
}
.btn_w {
  background: #ffffff;
  border: 2px solid #3ddabe;
  border-radius: 92px;
  color: #3ddabe;
  box-shadow: none;
  transition: all 0.5s;
}
.btn_w:hover {
  background-color: #36b9a1;
  color: #fff;
}

/* ================================ */
.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0dbbb;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

/* ================================ */
.header {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (min-width: 73.125em) {
  .header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem )) {
    .header {
      padding-top: calc(0.0000000625rem + 1.2499999375 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.0000000625rem;
  }
}
@media (min-width: 73.125em) {
  .header {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.0000000625rem , -0.4705881493rem  +  2.3529410588vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.0000000625rem + 1.2499999375 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.0000000625rem;
  }
}
.header__logo {
  position: relative;
  font-size: 2.25rem;
  line-height: 142.1%; /* 54/38 */
  text-transform: uppercase;
  color: #828282;
  transition: color 0.3s;
}
.header__logo:hover {
  color: #3ddabe;
}
.header__logo::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #3ddabe;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 0.3s;
}
.header__logo:hover::after {
  left: 0;
  width: 100%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  background-color: #213C37;
}
@media (min-width: 73.125em) {
  .footer {
    min-height: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (min-height: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .footer {
      min-height: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem );
    }
  }
  @supports not (min-height: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .footer {
      min-height: calc(1.875rem + 4.375 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    min-height: 1.875rem;
  }
}

.top-page {
  position: relative;
}
@media (min-width: 90em) {
  .top-page {
    padding-top: 0.0000000625rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  @supports (padding-top: clamp( 0.0000000625rem , 9.3749999286rem  +  -10.4166665179vw , 4.375rem )) {
    .top-page {
      padding-top: clamp( 0.0000000625rem , 9.3749999286rem  +  -10.4166665179vw , 4.375rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , 9.3749999286rem  +  -10.4166665179vw , 4.375rem )) {
    .top-page {
      padding-top: calc(4.375rem + -4.3749999375 * (100vw - 48rem) / 42);
    }
  }
}
@media (max-width: 47.99875em) and (min-width: 73.125em) {
  .top-page {
    padding-top: 4.375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 3.75rem , 3.5147058824rem  +  1.1764705882vw , 4.375rem )) {
    .top-page {
      padding-top: clamp( 3.75rem , 3.5147058824rem  +  1.1764705882vw , 4.375rem );
    }
  }
  @supports not (padding-top: clamp( 3.75rem , 3.5147058824rem  +  1.1764705882vw , 4.375rem )) {
    .top-page {
      padding-top: calc(3.75rem + 0.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .top-page {
    padding-top: 3.75rem;
  }
}
.top-page__container {
  z-index: 2;
  min-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 47.99875em) {
  .top-page__container {
    flex-direction: column;
  }
}
.top-page__body {
  flex: 0 1 50%;
}
@media (min-width: 90em) {
  .top-page__body {
    padding-right: 4.375rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  @supports (padding-right: clamp( 0.0000000625rem , -4.9999998661rem  +  10.4166665179vw , 4.375rem )) {
    .top-page__body {
      padding-right: clamp( 0.0000000625rem , -4.9999998661rem  +  10.4166665179vw , 4.375rem );
    }
  }
  @supports not (padding-right: clamp( 0.0000000625rem , -4.9999998661rem  +  10.4166665179vw , 4.375rem )) {
    .top-page__body {
      padding-right: calc(0.0000000625rem + 4.3749999375 * (100vw - 48rem) / 42);
    }
  }
}
@media (max-width: 47.99875em) {
  .top-page__body {
    margin-bottom: 1.875rem;
  }
}
.top-page__card {
  position: relative;
  max-width: 31.25rem;
  flex: 0 1 31.25rem;
  background-color: #ffffff;
  box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
  border-radius: 40px;
  z-index: 5;
}
@media (min-width: 73.125em) {
  .top-page__card {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem )) {
    .top-page__card {
      padding-top: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem )) {
    .top-page__card {
      padding-top: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .top-page__card {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 73.125em) {
  .top-page__card {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem )) {
    .top-page__card {
      padding-bottom: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.9375rem , 0.1139705882rem  +  4.1176470588vw , 3.125rem )) {
    .top-page__card {
      padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .top-page__card {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 90em) {
  .top-page__card {
    padding-left: 2.5rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  @supports (padding-left: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) {
    .top-page__card {
      padding-left: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) {
    .top-page__card {
      padding-left: calc(1.25rem + 1.25 * (100vw - 62rem) / 28);
    }
  }
}
@media (min-width: 90em) {
  .top-page__card {
    padding-right: 2.5rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  @supports (padding-right: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) {
    .top-page__card {
      padding-right: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , -1.5178571429rem  +  4.4642857143vw , 2.5rem )) {
    .top-page__card {
      padding-right: calc(1.25rem + 1.25 * (100vw - 62rem) / 28);
    }
  }
}
@media (max-width: 61.99875em) and (min-width: 61.9375em) {
  .top-page__card {
    padding-left: 1.5625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 0.9375em) and (max-width: 61.9375em) {
  @supports (padding-left: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem )) {
    .top-page__card {
      padding-left: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem )) {
    .top-page__card {
      padding-left: calc(0.9375rem + 0.625 * (100vw - 0.9375rem) / 61);
    }
  }
}
@media (max-width: 61.99875em) and (min-width: 61.9375em) {
  .top-page__card {
    padding-right: 1.5625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 0.9375em) and (max-width: 61.9375em) {
  @supports (padding-right: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem )) {
    .top-page__card {
      padding-right: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.9278944672rem  +  1.0245901639vw , 1.5625rem )) {
    .top-page__card {
      padding-right: calc(0.9375rem + 0.625 * (100vw - 0.9375rem) / 61);
    }
  }
}
@media (max-width: 47.99875em) {
  .top-page__card {
    max-width: 100%;
  }
}
@media (min-width: 73.125em) {
  .top-page__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .top-page__title:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .top-page__title:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .top-page__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.top-page__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (min-width: 73.125em) {
  .top-page__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .top-page__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 1.2095588235rem  +  1.7647058824vw , 2.5rem )) {
    .top-page__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .top-page__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.top-page__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.75rem;
       column-gap: 1.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 90em) {
  .top-page__buttons {
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  @supports ((-moz-column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem )) or (column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem ))) {
    .top-page__buttons {
      -moz-column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem );
           column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem )) or (column-gap: clamp( 0.625rem , -1.8660714286rem  +  4.0178571429vw , 1.75rem ))) {
    .top-page__buttons {
      -moz-column-gap: calc(0.625rem + 1.125 * (100vw - 62rem) / 28);
           column-gap: calc(0.625rem + 1.125 * (100vw - 62rem) / 28);
    }
  }
}
@media (max-width: 61.99875em) {
  .top-page__buttons {
    justify-content: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    row-gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .top-page__button {
    width: 100%;
    text-align: center;
  }
}
.top-page__link {
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  line-height: 151.8%;
  color: #bdbdbd;
  transition: color 0.3s;
}
.top-page__link:hover {
  color: #3ddabe;
}
.top-page__link::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #3ddabe;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: all 0.3s;
}
.top-page__link:hover::after {
  left: 0;
  width: 100%;
}
.top-page__image {
  padding-top: 7.8125rem;
  margin-left: 2rem;
  flex: 0 1 50%;
  text-align: left;
  position: relative;
}
.top-page__image img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .top-page__image {
    padding-top: 0;
  }
}
@media (min-width: 47.99875em) {
  .top-page__image::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 32px;
    background: url("@img/top/mask-group.png");
    z-index: -1;
  }
}
@media (min-width: 47.99875em) and (min-width: 90em) {
  .top-page__image::before {
    left: 2rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 90em) {
  @supports (left: clamp( 0.0000000625rem , -2.2857141518rem  +  4.7619046131vw , 2rem )) {
    .top-page__image::before {
      left: clamp( 0.0000000625rem , -2.2857141518rem  +  4.7619046131vw , 2rem );
    }
  }
  @supports not (left: clamp( 0.0000000625rem , -2.2857141518rem  +  4.7619046131vw , 2rem )) {
    .top-page__image::before {
      left: calc(0.0000000625rem + 1.9999999375 * (100vw - 48rem) / 42);
    }
  }
}

/* +++++++++++++++++++++++++++++++++++++++++ */
.arrow-1 {
  cursor: pointer;
  position: relative;
  width: 4.6875rem;
  height: 3.75rem;
}

.arrow-1 div {
  position: relative;
  top: 1.8125rem;
  width: 4.6875rem;
  height: 0.125rem;
  background-color: #3ddabe;
  left: 0;
  display: block;
}
@media (max-width: 61.99875em) and (min-width: 73.125em) {
  .arrow-1 div {
    width: 7rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 73.125em) {
  @supports (width: clamp( 4.6875rem , 3.8169117647rem  +  4.3529411765vw , 7rem )) {
    .arrow-1 div {
      width: clamp( 4.6875rem , 3.8169117647rem  +  4.3529411765vw , 7rem );
    }
  }
  @supports not (width: clamp( 4.6875rem , 3.8169117647rem  +  4.3529411765vw , 7rem )) {
    .arrow-1 div {
      width: calc(4.6875rem + 2.3125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .arrow-1 div {
    width: 4.6875rem;
  }
}

.arrow-1 div::after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.125rem;
  top: -0.1875rem;
  left: -0.25rem;
  background-color: #3ddabe;
  transform: rotate(-45deg);
}

.arrow-1 div::before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.125rem;
  top: 0.1875rem;
  left: -0.25rem;
  background-color: #3ddabe;
  transform: rotate(45deg);
}

.arrow-1:hover {
  animation: arrow-1 1s linear infinite;
}

@keyframes arrow-1 {
  0% {
    right: 0;
  }
  50% {
    right: 0.4375rem;
  }
  100% {
    right: 0;
  }
}
.work-page {
  position: relative;
  z-index: 2;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
}
@media (min-width: 73.125em) {
  .work-page {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .work-page {
      padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .work-page {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .work-page {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 73.125em) {
  .work-page {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .work-page {
      padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .work-page {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .work-page {
    padding-bottom: 1.5625rem;
  }
}
.work-page__title {
  position: relative;
  text-align: center;
}
@media (min-width: 73.125em) {
  .work-page__title {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .work-page__title {
      margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .work-page__title {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .work-page__title {
    margin-bottom: 1.875rem;
  }
}
.work-page__title::after {
  bottom: -10px;
  left: 50%;
  width: 4.375rem;
  transform: translateX(-50%);
}
.work-page__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.work-page__items:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (max-width: 61.99875em) {
  .work-page__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .work-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .work-page__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.work-page__item {
  position: relative;
}
.work-page__item:hover .work-page__image img {
  transform: scale(1.1);
}
.work-page__image {
  position: relative;
  padding-bottom: 73.47%;
  overflow: hidden;
  border-radius: 1.875rem;
}
.work-page__image img {
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-page__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.work-page__subtitle {
  display: inline-flex;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 138%;
  text-transform: uppercase;
  color: #e0e0e0;
  padding-right: 0.625rem;
  border-right: 0.25rem solid #3ddabe;
}
@media (min-width: 73.125em) {
  .work-page__subtitle {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.5rem , 1.2176470588rem  +  1.4117647059vw , 2.25rem )) {
    .work-page__subtitle {
      font-size: clamp( 1.5rem , 1.2176470588rem  +  1.4117647059vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.2176470588rem  +  1.4117647059vw , 2.25rem )) {
    .work-page__subtitle {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .work-page__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 73.125em) {
  .work-page__subtitle:not(:last-child) {
    margin-bottom: 3.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9507352941rem  +  3.0588235294vw , 3.1875rem )) {
    .work-page__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.9507352941rem  +  3.0588235294vw , 3.1875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9507352941rem  +  3.0588235294vw , 3.1875rem )) {
    .work-page__subtitle:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .work-page__subtitle:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.work-page__buttons {
  display: flex;
  justify-content: center;
}
.about-page {
  background-color: #e5e5e5;
}
@media (min-width: 73.125em) {
  .about-page {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page {
      padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .about-page {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 73.125em) {
  .about-page {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page {
      padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .about-page {
    padding-bottom: 1.5625rem;
  }
}
.about-page__container {
  position: relative;
}
.about-page__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 59.375rem;
  right: 38.8%;
  bottom: 38%;
  transform: translate(100%, 0px);
  background: url("@img/testimonials/vector.png") no-repeat;
}
.about-page__title {
  position: relative;
  text-align: center;
}
@media (min-width: 73.125em) {
  .about-page__title {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .about-page__title {
      margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .about-page__title {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .about-page__title {
    margin-bottom: 1.875rem;
  }
}
.about-page__title::after {
  bottom: -10px;
  left: 50%;
  width: 4.375rem;
  transform: translateX(-50%);
}
.about-page__row {
  display: flex;
}
@media (max-width: 61.99875em) {
  .about-page__row {
    display: block;
  }
}
.about-page__content {
  position: relative;
  z-index: 2;
  flex: 0 1 52%;
  padding-left: 2.5rem;
}
@media (max-width: 61.99875em) {
  .about-page__content {
    padding: 0;
  }
}
@media (max-width: 61.99875em) and (min-width: 73.125em) {
  .about-page__content {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page__content {
      margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page__content {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .about-page__content {
    margin-bottom: 1.5625rem;
  }
}
.about-page__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 151.5%;
  color: #333333;
}
@media (min-width: 73.125em) {
  .about-page__text:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .about-page__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .about-page__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.about-page__image {
  flex: 0 1 48%;
  padding-left: 2.5rem;
  border-radius: 1.875rem;
  position: relative;
  z-index: 2;
}
.about-page__image img {
  border-radius: 1.875rem;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .about-page__image {
    padding: 0;
  }
}

.services-page {
  background: #ffffff;
  box-shadow: 0px 0px 40px -6px rgba(29, 117, 101, 0.2);
  position: relative;
  z-index: 2;
}
@media (min-width: 73.125em) {
  .services-page {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .services-page {
      padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .services-page {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 73.125em) {
  .services-page {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .services-page {
      padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .services-page {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page {
    padding-bottom: 1.5625rem;
  }
}
.services-page__title {
  position: relative;
  text-align: center;
}
@media (min-width: 73.125em) {
  .services-page__title {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .services-page__title {
      margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .services-page__title {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page__title {
    margin-bottom: 1.875rem;
  }
}
.services-page__title::after {
  bottom: -10px;
  left: 50%;
  width: 4.375rem;
  transform: translateX(-50%);
}
.services-page__row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 73.125em) {
  .services-page__row {
    row-gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services-page__row {
      row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
  }
  @supports not (row-gap: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .services-page__row {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page__row {
    row-gap: 1.25rem;
  }
}
@media (min-width: 73.125em) {
  .services-page__row:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .services-page__row:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.4044117647rem  +  2.3529411765vw , 3.125rem )) {
    .services-page__row:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page__row:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.services-page__column {
  flex: 0 1 25%;
}
@media (min-width: 73.125em) {
  .services-page__column {
    padding-left: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-left: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem )) {
    .services-page__column {
      padding-left: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem )) {
    .services-page__column {
      padding-left: calc(0.625rem + 1.1875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page__column {
    padding-left: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .services-page__column {
    padding-right: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-right: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem )) {
    .services-page__column {
      padding-right: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.1779411765rem  +  2.2352941176vw , 1.8125rem )) {
    .services-page__column {
      padding-right: calc(0.625rem + 1.1875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .services-page__column {
    padding-right: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .services-page__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 47.99875em) {
  .services-page__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 29.99875em) {
  .services-page__column {
    flex: 0 1 100%;
  }
}
.services-page__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-page__image {
  width: 4.1875rem;
  height: 4.1875rem;
  border-radius: 50%;
  background-color: #3ddabe;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.services-page__image:not(:last-child) {
  margin-bottom: 1.0625rem;
}
.services-page__image img {
  width: 100%;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-page__name {
  min-height: 3.1875rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 138%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}
.services-page__desc {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 138.5%;
  color: #828282;
  text-align: center;
  padding: 0 0.125rem;
}
.services-page__buttons {
  display: flex;
  justify-content: center;
}
.testimonials {
  position: relative;
  background: #e5e5e5;
}
@media (min-width: 73.125em) {
  .testimonials {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials {
      padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .testimonials {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 73.125em) {
  .testimonials {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials {
      padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .testimonials {
    padding-bottom: 1.5625rem;
  }
}
.testimonials__container {
  position: relative;
}
.testimonials__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 59.375rem;
  right: 38.8%;
  bottom: 0;
  transform: translate(100%, 0px);
  background: url("@img/testimonials/vector.png") no-repeat;
}
.testimonials__title {
  position: relative;
  text-align: center;
}
@media (min-width: 73.125em) {
  .testimonials__title {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .testimonials__title {
      margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.075rem  +  4vw , 4rem )) {
    .testimonials__title {
      margin-bottom: calc(1.875rem + 2.125 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__title {
    margin-bottom: 1.875rem;
  }
}
.testimonials__title::after {
  bottom: -10px;
  left: 50%;
  width: 4.375rem;
  transform: translateX(-50%);
}
.testimonials__items {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  position: relative;
  z-index: 2;
}
.testimonials__items:not(:last-child) {
  margin-bottom: 3.125rem;
}
@media (min-width: 73.125em) {
  .testimonials__items:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials__items:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.5625rem , 0.9742647059rem  +  2.9411764706vw , 3.125rem )) {
    .testimonials__items:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__items:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.testimonials__buttons {
  display: flex;
  justify-content: center;
}
.item-testimonials {
  color: inherit;
  padding: 1.875rem;
  background: #ffffff;
  border: 0.0625rem solid #ebebeb;
  box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.2);
  border-radius: 1.875rem;
  transition: all 0.3s ease 0s;
}
@media (min-width: 73.125em) {
  .item-testimonials {
    padding: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (padding: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .item-testimonials {
      padding: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
  }
  @supports not (padding: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .item-testimonials {
      padding: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .item-testimonials {
    padding: 1.25rem;
  }
}
.item-testimonials:hover {
  border: 0.0625rem solid transparent;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}
.item-testimonials__name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 138%;
  color: #333333;
}
.item-testimonials__name:not(:last-child) {
  margin-bottom: 0.75rem;
}
.item-testimonials__text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 138.5%;
  color: #828282;
}
.item-testimonials__text:not(:last-child) {
  margin-bottom: 0.75rem;
}
.connection__container {
  background: #f2f2f2;
  border-radius: 1.875rem;
}
.connection__row {
  display: flex;
}
.connection__map {
  flex: 0 1 29.2%;
}
.connection__contacts {
  flex: 0 1 70.8%;
}

.contacts__row {
  display: flex;
}
.contacts__form {
  flex: 0 1 50%;
}
.contacts__body {
  flex: 0 1 50%;
}
.list-contacts {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 121.4%; /* 17/14 */
}