@font-face {
	font-family: TTHoves;
	font-display: swap;
	src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
