//====================================================================================================

//====================================================================================================
.page {
   // .page__top
   &__top {
   }
}

//========================================================================================================================================================
.top-page {
   position: relative;   
   @include adaptiveValue("padding-top", 0, 70, 2, 1440, 768);
   @media (max-width: $mobile) {
      // padding-top: rem(70);
      @include adaptiveValue("padding-top", 70, 60);
   }
   // .top-page__container
   &__container {
      z-index: 2;
      min-height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }
   // .top-page__body
   &__body {
      // background: #c6cdbb;
      flex: 0 1 50%;
      @include adaptiveValue("padding-right", 70, 0, 2, 1440, 768);
      @media (max-width: $mobile) {
         margin-bottom: rem(30);
      }
   }
   // .top-page__card
   &__card {
      position: relative;
      max-width: rem(500);
      flex: 0 1 rem(500);
      @include adaptiveValue("padding-top", 50, 15);
      @include adaptiveValue("padding-bottom", 50, 15);
      @include adaptiveValue("padding-left", 40, 20, 2, 1440, 992);
      @include adaptiveValue("padding-right", 40, 20, 2, 1440, 992);
      background-color: #ffffff;
      box-shadow: 0px 20px 50px -15px rgba(29, 117, 101, 0.3);
      border-radius: 40px;
      z-index: 5;
      @media (max-width: $tablet) {
         @include adaptiveValue("padding-left", 25, 15, 2, 991, 15);
         @include adaptiveValue("padding-right", 25, 15, 2, 991, 15);
      }
      @media (max-width: $mobile) {
         max-width: 100%;
      }
   }
   // .top-page__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 25);
      }
   }
   // .top-page__text
   &__text {
      p {
         &:not(:last-child) {
            margin-bottom: rem(15);
         }
      }
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 25);
      }
   }
   // .top-page__buttons
   &__buttons {
      display: flex;
      align-items: center;
      column-gap: rem(28);
      @include adaptiveValue("column-gap", 28, 10, 2, 1440, 992);
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: $tablet) {
         justify-content: center;
         column-gap: rem(40);
         row-gap: rem(10);
      }
   }
   // .top-page__button
   &__button {
      @media (max-width: $tablet) {
         width: 100%;
         text-align: center;
      }
   }
   // .top-page__link
   &__link {
      position: relative;
      font-weight: 600;
      font-size: rem(16);
      line-height: 151.8%;
      color: #bdbdbd;
      transition: color 0.3s;
      &:hover {
         color: #3ddabe;
      }
      &::after {
         position: absolute;
         content: "";
         height: 2px;
         background-color: #3ddabe;
         bottom: 0;
         left: 50%;
         width: 0;
         transition: all 0.3s;
      }
      &:hover::after {
         left: 0;
         width: 100%;
      }
   }
   // .top-page__image
   &__image {
      padding-top: rem(125);
      margin-left: rem(32);
      flex: 0 1 50%;
      text-align: left;
      img {
         max-width: 100%;
      }
      @media (max-width: $mobile) {
         padding-top: 0;
      }
      position: relative;
      @media (min-width: $mobile) {
         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            top: 0;
            left: 32px;
            @include adaptiveValue("left", 32, 0, 2, 1440, 768);
            background: url("@img/top/mask-group.png");
            z-index: -1;
         }
      }
   }
}

/* +++++++++++++++++++++++++++++++++++++++++ */
.arrow-1 {
   cursor: pointer;
   position: relative;
   width: rem(75);
   // @include adaptiveValue("width", 75, 40, 2, 1440, 992);
   height: rem(60);
}
.arrow-1 div {
   position: relative;
   top: rem(29);
   width: rem(75);
   height: rem(2);
   background-color: #3ddabe;
   // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
   left: 0;
   display: block;
   @media (max-width: $tablet) {
      // width: rem(112);
      @include adaptiveValue("width", 112, 75);
   }
}
.arrow-1 div::after {
   content: "";
   position: absolute;
   width: rem(10);
   height: rem(2);
   top: rem(-3);
   left: rem(-4);
   background-color: #3ddabe;
   transform: rotate(-45deg);
}
.arrow-1 div::before {
   content: "";
   position: absolute;
   width: rem(10);
   height: rem(2);
   top: rem(3);
   left: rem(-4);
   background-color: #3ddabe;
   // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
   transform: rotate(45deg);
}
.arrow-1:hover {
   animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
   0% {
      right: 0;
   }
   50% {
      right: rem(7);
   }
   100% {
      right: 0;
   }
}

//========================================================================================================================================================

//========================================================================================================================================================
